@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,300;0,400;0,800;0,900;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,600&family=Roboto+Condensed:ital,wght@0,100;0,300;0,400;1,700&family=Roboto:ital,wght@0,100;0,400;1,900&family=Share+Tech+Mono&display=swap');

:root {
    --main-background: #101010;
    --navbar-background: #101010;
    --navbar-text: #FFFFFF;
    --content-background: #000000;
    --content-text: #FFFFFF;
    --accent-color: #F39C12;

    --heading-text: #FFFFFF;
    --primary-heading: greenyellow;
    --secondary-heading: #BDC3C7;

    --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.graffiti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none; /* Ensures the graffiti elements don't interfere with mouse events */
}

.graffiti {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: greenyellow;
    border-radius: 50%;
    opacity: 0.7;
    pointer-events: none;
    animation: graffitiAnimation 20s linear infinite;
}

@keyframes graffitiAnimation {
    to {
        transform: translateX(100vw) translateY(100vh);
    }
}

/* cursor css */
.cursor{
    height: 20px;
    width: 20px;
    background-color: var(--accent-color);
    border-radius: 50%;
    position: fixed;
    z-index: 999;
}
.break{
    border: 0.5px solid gray;
    opacity: 0.5;
}
/* general css */
body::-webkit-scrollbar {
    display: none;
}
.main {
    height: 100%;
    width: 100%;
    cursor: none;
    background-color: var(--content-background);
}

hr{

    color: gray;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}
a:hover .cursor{
    opacity: 0;
}
.card-btn{
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
    padding: 3% 7%;
    border-radius: 50px;
    margin-top: 10%;
    font-size: 70%;
}
.card-btn:hover{
    background-color: black;
    color: white;
    transition: all 1s;
    cursor: pointer;
}
.card-btn:hover .cursor{
    opacity: 0;
}
.card img{
    height: 20%;
}

/* navbar css inside page1*/
.navbar {
    height: 8%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--content-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-nav img {
    position: absolute;
    left: 2%;
    height: 90%;
    
}

.right-nav {
    position: absolute;
    padding: 0 10px;
    right: 0%;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
}

.right-nav ul {
    position: absolute;
    right: 0%;
    padding: 0 5%;
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    color: var(--navbar-text);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    
    text-decoration: none;
    text-transform: uppercase;
}

.hamburger-menu {

    display: none;
}


/* page1 css */
.page1 {
    height: 100vh;
    width: 100vw;
    background-color: var(--content-background);
}
.content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8vh;
    padding: 3%;
    gap: 10%;
}
.text{
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text h1{
    font-size: 7vw;
    /* color: var(--primary-heading); */
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    -webkit-text-stroke: 2px greenyellow;
}
.text h4{
    font-size: 1.5vw;
    color: var(--secondary-heading);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    
    width: 90%;
}
.pfp{
    height: auto;
    width: auto;
    opacity: 0;
}
.pfp img{
    width: 20vw;
    /* filter: drop-shadow(0 1px 10px greenyellow); */
}





/* page2 css */

.page2 {
    height: 100vh;
    width: 100vw;
    background-color: var(--content-background);
    position: relative;
}
.page2 .heading{
    margin-bottom: 9%;
}

.part1{
    width: 100%;
    height: auto;
    display: flex;
    gap: 21.5%;
}
.part1 img{
    margin-left: 9%;
}

.part2{
    height: auto;
    width: 100%;
}

.maintimeline{
    height: 0;
    width: 70%;
    margin: 1% 0 0 10%;
    border: 1px solid gray;
}
.subtimeline{
    height: 25%;
    width: 100%;
    display: flex;
}
.line{
    height: 10vh;
    width: 0;
    border: 1px solid gray;
    margin-left: 10%;
    margin-right: 24.86%;
}


.part3{
    display: flex;
    margin-left: 10%;
    gap: 19.8%;
}
.info-card{
    margin-top: 0.5%;
    color: white;
    font-family: "Poppins";
}
.info-card h4{
    
    font-size: 2vh;
}
.info-card h2{
    font-size: 1.5vh;
    color: gray;
}
.info-card li{
    list-style: circle;
}
.info-card ul{
    margin: 5% 0 0 15%;
}
















.page3 {
    min-height: 100vh;
    width: 100vw;
    background-color: var(--content-background);
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Existing CSS for card styling */

.card {
    width: 45vw;
    max-width: 400px;
    background: var(--content-background);
    color: white;
    padding: 2vh;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border: 0.5px solid greenyellow;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, padding 0.3s ease-in-out;
    margin: 2vh 3vh;
}

.card:hover {
    transform: scale(1.05);
    padding: 3vh;
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 2vh;
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.1);
}

.card h4 {
    font-family: "Poppins";
    color: var(--secondary-heading);
    font-weight: 300;
    font-size: 1.5vh;
}
.heading {
    font-family: "Montserrat";
    font-size: 8vw;
    color: black;
    -webkit-text-stroke: 2px white;
    margin: 2vh 3vh;
}

@media screen and (max-width:700px) {
    .cursor{
        display: none;
    }
    .navbar {
        height: 8%;

    }
    .left-nav img{
        height: 100%;
    }

    .right-nav ul {
        display: none;
    }

    .hamburger-menu {
        position: absolute;
        right: 0%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .hamburger-menu i{
        font-size: 3vh;
        margin-right: 40%;
        color: var(--navbar-text);

    }

    .content{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .pfp img{
        width: 25vh;
    }
    .text h1{
        font-size: 5vh;
        text-align: center;
    }
    .text h4{
        font-size: 2.5vh;
        text-align: center;
    }
    .heading{
        font-size: 6vh;
    }
    .card{
        width: 95vw;
    }

    .timeline{
        height: 60%;
        width: 0;
        border: 1px solid gray;
    }
    .edu-sec{
        position: absolute;
        top: 1%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .line{
        height: 0;
        width: 10vh;
        border: 1px solid gray;
        margin-top: 35%;
    }
    
}